<tr>
  <td><%= service.id %></td>
  <td><%= service.instrument.serialNumber %> </td>
  <td><%= service.startdatetime %> </td>
  <td><%= service.enddatetime %> </td>
  <td><%= service.reporter.firstname %> <%= service.reporter.surname %> </td>
  <td><%= link_to "View", service %></td>
</tr>