<% provide(:title, 'New Service Record') %>

<% provide(:pageheading, 'New Service Record for Instrument ' + @instrument.id.to_s) %>


<%= form_for @service, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <!-- Include hidden instrument element for attaching to correct instrument-->
  <%= f.hidden_field :instrument_id, :value => @instrument.id %>
   
  
  <div class="form-group">
    <%= f.label :startdatetime, 'Start Date', :class => "col-lg-2 control-label" %>
    <div class="col-lg-8"> 
      <%= f.date_field :startdatetime, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :enddatetime, 'End Date', :class => "col-lg-2 control-label" %>
    <div class="col-lg-8"> 
      <%= f.date_field :enddatetime, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :problem, "Description of Problem", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :problem, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :comments, "Comments", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :comments, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
  
<% end %>

<!-- <script type="text/javascript">
$('#projects, #facilities').multiselect({
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableFiltering: true
});
</script> -->