<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>

<% provide(:title, 'Servicing Record View') %>
<% provide(:pageheading, 'Servicing Record '+ @service.id.to_s) %>

<!-- Add edit/delete buttons if current user -->
<% if @service.instrument.users.include? current_user %> 
 <div class="row bottomspace">  
    <div class="col-xs-12 col-sm-2 col-sm-push-10">
		<a class="btn btn-block btn-info" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Edit Service", edit_instrument_service_path(instrument_id:@instrument.id, id:@service.id) %> </li>
		  <li><%= link_to "Delete Service", @service, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
	  </ul>
	</div>
  </div>
<% end %>


<div class="row">
	<div class="col-sm-12 well well-sm">	
		<p class='center'>This is a Service Record for the <span style="font-weight:bold"><%= @service.instrument.model.manufacturer %> <%= @service.instrument.model.modelName %></span> Instrument with Serial Number <span style="font-weight:bold"><%= @service.instrument.serialNumber %></span></p>	
		<p class='center text-muted'><%= link_to "View Instrument", @service.instrument %></p>		
	</div>
</div>


<div class="row topspace20">
  <div class="col-md-12">	
	
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Service ID</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @service.id %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Instrument Serial Number</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @service.instrument.serialNumber %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Problem description</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @service.problem %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Start Date/Time</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @service.startdatetime.strftime('%a %b %d %Y') %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">End Date/Time</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted">
		  	  <% if @service.enddatetime %> 
		  	    <%= @service.enddatetime.strftime('%a %b %d %Y') %>
		  	  <% end %>
		  	</p> 
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Comments</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @service.comments %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Reported by</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @service.reporter.firstname %> <%= @service.reporter.surname %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Record reported on</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @service.created_at.to_date.strftime('%a %b %d %Y') %></p>
		  </div>
		</div>
		
  </div>
  
</div>

