

<% if @status.status_type == 'Retirement' %> 
  <% provide(:title, 'Instrument Retirement') %>
  <% provide(:pageheading, 'Retire Instrument '+ @instrument.id.to_s) %>
<% else %>
  <% provide(:title, 'New '+@status.status_type_text+' Record') %>
  <% provide(:pageheading, 'New '+ @status.status_type_text + ' Record for Instrument ' + @instrument.id.to_s) %>
<% end %>

<%= form_for [:instrument, @status], :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <!-- Include hidden instrument element for attaching to correct instrument-->
  <%= f.hidden_field :instrument_id, :value => @instrument.id %>
  <%= f.hidden_field :status_type, :value => @status_type %>
   
  
  <div class="form-group">
  	<% if @status.status_type == 'Retirement' %> 
      <%= f.label :startdate, 'Start Date of Retirement', :class => "col-lg-2 control-label" %>
    <% else %>  
      <%= f.label :startdate, 'Start Date', :class => "col-lg-2 control-label" %>
    <% end %>
    <div class="col-lg-8"> 
      <%= f.date_field :startdate, :class => "form-control" %>
    </div>
  </div>
  
  <% if @status.status_type == 'Loan' %> 
	  <div class="form-group">
	    <%= f.label :enddate, 'End Date', :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8"> 
	      <%= f.date_field :enddate, :class => "form-control" %>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :address, "Loaned to", :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8">
	      <%= f.text_field :loaned_to, :class => "form-control" %>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :address, "Address of Loanee", :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8">
	      <%= f.text_area :address, :class => "form-control" %>
	    </div>
	  </div>
  <% end %>
  
  <% if @status.status_type == 'Facedeployment' %> 
	  <div class="form-group">
	    <%= f.label :ring, 'Ring', :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8"> 
	      <%= f.number_field :ring, :class => "form-control" %>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :northing, "Northing", :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8">
	      <%= f.number_field :northing, :class => "form-control", :step => 0.01 %>
	    </div>
	  </div>
	  	  
	  <div class="form-group">
	    <%= f.label :easting, "Easting", :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8">
	      <%= f.number_field :easting, :class => "form-control", :step => 0.01 %>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :vertical, "Vertical", :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8">
	      <%= f.number_field :vertical, :class => "form-control", :step => 'any' %>
	    </div>
	  </div>
  <% end %>
  
  <% if @status.status_type == 'Storage' %> 
	  <div class="form-group">
		  <%= f.label :storage_location_id, 'Storage Location', :class => "col-lg-2 control-label" %>
		  <div class="col-lg-8">
		    <%= collection_select(:storage, :storage_location_id, StorageLocation.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'storage_locations'} ) %>
		  </div>
		</div>
	<% end %>
  
  <div class="form-group">
    <%= f.label :comments, "Comments", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :comments, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
  
<% end %>

<!-- <script type="text/javascript">
$('#projects, #facilities').multiselect({
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableFiltering: true
});
</script> -->