<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>

<% provide(:title, @status.status_type_text + ' Record View') %>
<% provide(:pageheading, 'Instrument ' + @status.status_type_text + ' Record') %>

<!-- Add edit/delete buttons if current user -->
<% if can? :edit, @status %>
 <div class="row bottomspace">  
    <div class="col-xs-12 col-sm-2 col-sm-push-10">
		<a class="btn btn-block btn-info" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		  <% if @status.status_type == 'Loan'%>
		    <li><%= link_to 'Edit ' + @status.status_type_text + ' Record', edit_loan_path(id:@status.id) %> </li>
		  <% elsif @status.status_type == 'Lost'%>
		    <li><%= link_to 'Edit ' + @status.status_type_text + ' Record', edit_lost_path(id:@status.id) %> </li>
		  <% elsif @status.status_type == 'Facedeployment'%>
		    <li><%= link_to 'Edit ' + @status.status_type_text + ' Record', edit_facedeployment_path(id:@status.id) %> </li>
		  <% elsif @status.status_type == 'Storage'%>
		    <li><%= link_to 'Edit ' + @status.status_type_text + ' Record', edit_storage_path(id:@status.id) %> </li>
		  <% elsif @status.status_type == 'Storage'%>
		    <li><%= link_to 'Edit ' + @status.status_type_text + ' Record', edit_storage_path(id:@status.id) %> </li>
		  <% elsif @status.status_type == 'Deployment'%>
		    <li><%= link_to 'Edit ' + @status.status_type_text + ' Record', edit_deployment_path(id:@status.id) %> </li>
		  <% elsif @status.status_type == 'Retirement'%>
		    <li><%= link_to 'Edit ' + @status.status_type_text + ' Record', edit_deployment_path(id:@status.id) %> </li>
		  <% end %>
		  <li><%= link_to 'Delete '+ @status.status_type_text + ' Record', @status, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
	  </ul>
	</div>
  </div>
<% end %>


<div class="row">
	<div class="col-sm-12 well well-sm">	
		<p class='center'>This is a <%= @status.status_type.capitalize %> Record for the <span style="font-weight:bold"><%= @status.instrument.model.manufacturer.name %> <%= @status.instrument.model.name %></span> Instrument with Serial Number <span style="font-weight:bold"><%= @status.instrument.serialNumber %></span></p>	
		<p class='center text-muted'><%= link_to "View Instrument", @status.instrument %></p>		
	</div>
</div>


<div class="row topspace20">
  <div class="col-md-12">	
	
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Status ID</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @status.id %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Instrument Serial Number</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @status.instrument.serialNumber %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <% if @status.status_type == 'Retirement' %> 
		      <p class="text-left">Retired on</p>
		    <% elsif %>
		      <p class="text-left">Start Date</p>		
		    <% end %>    
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @status.startdate.strftime('%a %b %d %Y') %></p>
		  </div>
		</div>
		
		<% if @status.status_type == 'Loan' %> 
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Loaned to</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= @status.loaned_to %></p>
			  </div>
			</div>
	  <% end %>
	  
	  <% if @status.status_type == 'Facedeployment' %> 
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Ring</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= @status.ring %></p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Northing</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= number_with_precision(@status.northing, :precision => 2) %></p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Easting</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= number_with_precision(@status.easting, :precision => 2) %></p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Vertical</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= number_with_precision(@status.vertical, :precision => 2) %></p>
			  </div>
			</div>
	  <% end %>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Comments</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @status.comments %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Reported by</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @status.reporter.firstname %> <%= @status.reporter.surname %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Record reported on</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @status.created_at.to_date.strftime('%a %b %d %Y') %></p>
		  </div>
		</div>
		
	  <% if @status.status_type == 'Deployment' %> 		
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Location Identifier</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= @status.location_identifier %></p>
			  </div>
			</div>	
			  
	  	<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Northing</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= number_with_precision(@status.northing, :precision => 2) %></p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Easting</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= number_with_precision(@status.easting, :precision => 2) %></p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-offset-3 col-md-3">
			    <p class="text-left">Vertical</p>
			  </div>   
			  <div class="col-md-6">
			    <p class="text-muted"><%= number_with_precision(@status.vertical, :precision => 2) %></p>
			  </div>
			</div>
			
	  <% end %> 	  
	  
	  <% if @status.status_type == 'Storage' %> 
	  <div class="row">
	    <div class="col-md-offset-3 col-md-6 well well-sm well-blue">	
			  <h4 class="center">Storage Location</h4>
				<div class="row topspace20">
				  <div class="col-md-6">
				    <p class="text-left">Storage Location code</p>
				  </div>   
				  <div class="col-md-6">
				    <p class="text-muted"><%= @status.storage_location.code %></p>
				  </div>
				  
				  <div class="col-md-6">
				    <p class="text-left">Room</p>
				  </div>   
				  <div class="col-md-6">
				    <p class="text-muted"><%= @status.storage_location.room %></p>
				  </div>
				  
				  <div class="col-md-6">
				    <p class="text-left">Building</p>
				  </div>   
				  <div class="col-md-6">
				    <p class="text-muted"><%= @status.storage_location.building %></p>
				  </div>
				  
				  <div class="col-md-6">
				    <p class="text-left">Address</p>
				  </div>   
				  <div class="col-md-6">
				    <p class="text-muted"><%= @status.storage_location.address %></p>
				  </div>
				  
				</div>
		  </div>
		</div>
	  <% end %>
	  
	  
	  <% if @status.status_type == 'Deployment' %> 
	  <div class="row">
	    <div class="col-md-offset-3 col-md-6 well well-sm well-blue">	
			  <h4 class="center">Site</h4>
				<div class="row topspace20">
				  <div class="col-md-6">
				    <p class="text-left">Site name</p>
				  </div>   
				  <div class="col-md-6">
				    <p class="text-muted"><%= @status.site.name %></p>
				  </div>
				  
				  <div class="col-md-6">
				    <p class="text-left">Address</p>
				  </div>   
				  <div class="col-md-6">
				    <p class="text-muted"><%= @status.site.address %></p>
				  </div>

				  <div class="col-md-6">
				    <p class="text-left">Site contact</p>
				  </div>   
				  <div class="col-md-6">
				    <p class="text-muted"><%= @status.site.contact %></p>
				  </div>
				  
				</div>
		  </div>
		</div>
	  <% end %>
		
  </div>
  
</div>

