<tr>
  <td><%= instrument.id %></td>
  <td><%= instrument.serialNumber %> </td>
  <td><%= instrument.purchaseDate %></td>
  <td><%= instrument.supplier %></td>
  <td><%= link_to "View", instrument %></td>
</tr>