<tr>
  <td><%= instrument.id %></td>
  <td><%= instrument.model.full_name %> </td>
  <td><%= instrument.serialNumber %> </td>
  <td><%= instrument.assetNumber %> </td>
  <td><%= instrument.purchaseDate.strftime('%a %b %d %Y') %></td>
  <% if !instrument.current_status.nil? %>
    <% if instrument.current_status.status_type_text == 'Deployment' %>
      <td><%= instrument.current_status.status_type_text + ' (' + instrument.current_status.site.shortname +  ')' %></td>
    <% else %>
      <td><%= instrument.current_status.status_type_text %></td>
    <% end %>

  <% else %>
    <td> None assigned </td>
  <% end %>
  <td><%= link_to "View", instrument %></td>
</tr>