<tr>
  <td><%= instrument.id %></td>
  <td><%= instrument.model.full_name %> </td>
  <td><%= instrument.serialNumber %> </td>
  <td><%= instrument.assetNumber %> </td>
  <td><%= instrument.purchaseDate %></td>
  <td><%= link_to "View", instrument %></td>
</tr>