<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>

<% provide(:title, 'Instrument View') %>
<% provide(:pageheading, 'Instrument '+ @instrument.id.to_s) %>

<!-- Add edit/delete buttons if current user -->
<% if @instrument.users.include? current_user %> 
 <div class="row bottomspace">  
    <div class="col-xs-12 col-sm-2 col-sm-push-10">
		<a class="btn btn-block btn-info" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><%= link_to "Edit Instrument", :action => 'edit' %></li>
		    <li><%= link_to "Add Service Record", new_instrument_service_path(instrument_id:@instrument.id) %> </li>
		    <li><%= link_to "Delete Instrument", @instrument, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		    <li role="presentation" class="divider"></li>
		    <li role="presentation" class="dropdown-header">Add New Status</li>
		    <li><%= link_to "Instrument Loan", new_instrument_loan_path(instrument_id:@instrument.id) %> </li>
		    <li><%= link_to "Instrument Lost", new_instrument_lost_path(instrument_id:@instrument.id) %> </li>
	    </ul>
	</div>
  </div>
<% end %>


<div class="row">
  <div class="col-md-7">	
	
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Instrument</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.id %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Serial Number</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.serialNumber %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Asset Number</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.assetNumber %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Supplier</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.supplier %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Price</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.price %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Purchase Date</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.purchaseDate %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Funding Source</p>
		  </div>   
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.fundingSource %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-offset-3 col-md-3">
		    <p class="text-left">Retirement Date</p>
		  </div>  
		  <div class="col-md-6">
		    <p class="text-muted"><%= @instrument.retirementDate %></p>
		  </div>
		</div>
  </div>
  
  <div class="col-md-4 well">	
  	<h4 class="center">Model</h4>
  	
  	<div class="row topspace20">
		  <div class="col-md-5">
		    <p class="text-left">Type</p>
		  </div>   
		  <div class="col-md-7">
		    <p class="text-left text-muted"><%= @instrument.model.modelType %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-5">
		    <p class="text-left">Manufacturer</p>
		  </div>   
		  <div class="col-md-7">
		    <p class="text-left text-muted"><%= @instrument.model.manufacturer %></p>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-5">
		    <p class="text-left">Name</p>
		  </div>   
		  <div class="col-md-7">
		    <p class="text-left text-muted"><%= @instrument.model.modelName %></p>
		  </div>
		</div>
		
  </div>
  
</div>


<div class="row">
  <div class="col-xs-12 rowline">
    <h4>Contacts for this Instrument</h4>
    <% @instrument.users.each do |contact| %>
      <div class="row topspace20">
      	<div class="col-xs-offset-0">
          <%= contact.firstname+' '+contact.surname+' ('+contact.email+')' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 rowline">
    <h4>Service History for this Instrument</h4>
    <%= render 'services/services' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 rowline">
    <h4>Status History for this Instrument</h4>
    <%= render 'statuses/statuses' %>
  </div>
</div>

